<div class="card card-1">
	<div *ngIf="!editMode">
			<!-- <div class="card__icon"><i class="fas fa-bolt"></i></div>
			<p class="card__exit"><i class="fas fa-times"></i></p> -->
			<h3 class="card__title">Ticket #{{ticket.id}} <br/>{{ ticket.title }} </h3>
			<h3>{{ticket.description}}</h3>
			<h3>Submitted By: {{ticket.submittedBy}}</h3>
			<!-- cannot use ternary in angular for html -->
			<h3 *ngIf="ticket.bookmarked">Bookmark ★</h3>
			<h3 *ngIf="!ticket.bookmarked">Bookmark ☆</h3>
			<h3 *ngIf="ticket.resolved">Resolved</h3>
			<h3 *ngIf="!ticket.resolved">Unresolved</h3>
			<h3 *ngIf="ticket.resolved">{{ticket.resolvedInfo}}<br/>Resolved By: {{ticket.resolvedBy}}</h3>
			<div class="button-holder">
				<button  (click)="turnOnEditMode()">Edit</button>
				<button (click)="deleteMe()">Delete</button>
			</div>
	</div>
	<div *ngIf="editMode">
		<table rules="all">
			<tbody>
				<tr>
					<td>id</td><td>{{ ticket.id }} </td>
				</tr>
				<tr>
					<td>Ticket Title</td><td><input type="text" [(ngModel)]="editObj.title" /></td>
				</tr>
				<tr>
					<td>Description</td><td><input type="text" [(ngModel)]="editObj.description" /></td>
				</tr>
				<tr>
					<td>SubmittedBy</td><td><input type="text" [(ngModel)]="editObj.submittedBy" /></td>
				</tr>
				<tr>
				<td>Bookmarked</td><td><input type="checkbox" [(ngModel)]="editObj.bookmarked" /></td>
				</tr>	
				<tr>
					<td>Resolved</td><td><input type="checkbox" [(ngModel)]="editObj.resolved" /></td>
				</tr>
				<tr *ngIf="editObj.resolved">
					<td>Resolved Info</td><td><input type="text" [(ngModel)]="editObj.resolvedInfo" /></td>
				</tr>
				<tr *ngIf="editObj.resolved">
					<td>Resolved By</td><td><input type="text" [(ngModel)]="editObj.resolvedBy" /></td>
				</tr>
			</tbody>
		</table>
		<button (click)="saveChanges()">Save Changes</button>
		<button (click)="cancel()">Cancel</button>
	</div>
</div>
