<div *ngIf="!editMode">
	<!-- {{ticket.Id}}<br/>
		contains {{ticket.Title}} -->
	<table rules="all">
		<tbody>
			<tr>
				<td>id</td><td>{{ ticket.id }} </td>
			</tr>
			<tr>
				<td>Ticket Title</td><td>{{ ticket.title }} </td>
			</tr>
			<tr>
				<td>Description</td><td>{{ ticket.description }} </td>
			</tr>
			<tr>
				<td>SubmittedBy</td><td>{{ ticket.submittedBy }} </td>
			</tr>
			<tr>
				<td>Bookmarked</td><td>{{ ticket.bookmarked }} </td>
			</tr>
			<tr>
				<td>Resolved</td><td>{{ ticket.resolved }} </td>
			</tr>
			<tr>
				<td>ResolvedInfo</td><td>{{ ticket.resolvedInfo }} </td>
			</tr>
            <tr>
				<td>ResolvedBy</td><td>{{ ticket.resolvedBy }} </td>
			</tr>
		</tbody>
	</table>
	<button (click)="turnOnEditMode()">Edit</button>
	<button (click)="deleteMe()">Delete</button>
</div>
<div *ngIf="editMode">
	<table rules="all">
		<tbody>
			<tr>
				<td>id</td><td>{{ ticket.id }} </td>
			</tr>
			<tr>
				<td>Ticket Title</td><td><input type="text" [(ngModel)]="editObj.title" /></td>
			</tr>
			<tr>
				<td>Description</td><td><input type="text" [(ngModel)]="editObj.description" /></td>
			</tr>
			<tr>
				<td>SubmittedBy</td><td><input type="text" [(ngModel)]="editObj.submittedBy" /></td>
			</tr>
			<tr>
				<td>Bookmarked</td><td><input type="checkbox" [(ngModel)]="editObj.bookmarked" /></td>
			</tr>
			<tr>
				<td>Resolved</td><td><input type="checkbox" [(ngModel)]="editObj.resolved" /></td>
			</tr>
			<tr>
				<td>Resolved Info</td><td><input type="text" [(ngModel)]="editObj.resolvedInfo" /></td>
			</tr>
            <tr>
				<td>Resolved By</td><td><input type="text" [(ngModel)]="editObj.resolvedBy" /></td>
			</tr>
		</tbody>
	</table>
	<button (click)="saveChanges()">Save Changes</button>
	<button (click)="cancel()">Cancel</button>
</div>
