::ng-deep :root {
  --primary:  #2E2F29ff;
  --secondary: #E8D5DFff;
  --teriary: #E19A83ff;
  --quartenary: #7a92e6;
  --pentary: #5B5D63ff;
}

.ticket-holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

  }
  body, html {
    height: 100%;
}

nav{
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

a {
  text-decoration: none;
  color: var(--teriary);
  padding: 10px;
  font-size: 200%;
}
a:hover {
  color: var(--primary);
  border-radius: 4px;
  background: var(--secondary)
}