<div>
    <!-- <button (click)="getTickets()">Get Departments</button> -->
	<div>
		<h1>Add New Ticket</h1>
		Title: <input type="text" [(ngModel)]="newTitle" /><br />
		Description: <input type="text" [(ngModel)]="newDescription" /><br />
		Submitted By: <input type="text" [(ngModel)]="newSubmittedBy" /><br />
		Bookmarked: <input type="checkbox" [(ngModel)]="newBookmarked" /><br />
		Resolved: <input type="checkbox" [(ngModel)]="newResolved" /><br />
		ResolvedInfo: <input type="text" [(ngModel)]="newResolvedInfo" /><br />
        ResolvedBy: <input type="text" [(ngModel)]="newResolvedBy" /><br />
		<button (click)="saveNew()">Save</button>
	</div>
    <div>
        <ng-container *ngFor="let ticket of TheList">
            <app-ticket-detail [ticket] = "ticket"
            (delete)="deleteOne($event)"
            (update)="updateOne($event)">
    
            </app-ticket-detail>
        </ng-container>
    </div>
</div>
